<section id="about" class="container col-11 col-lg-10 my-5 mx-auto">
  <p class="fs-5 text-center">Get to know more</p>
  <h1 class="fw-bold text-center">About Me</h1>
  <div class="row mt-4">
    <div class="col-12 col-lg-4 d-flex justify-content-center align-items-center mb-4 mb-lg-0">
      <img class="about-pic img-fluid rounded-5" src="./assets/Img.JPG" alt="Shalini's about image" >
    </div>
    <div class="col-12 col-lg-8 d-flex flex-column justify-content-center align-items-center">
      <div class="row w-100">
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-award fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Experience</h3>
              <p class="card-text">
                2 years of experience
                <br>in Software Development with
                <br>a focus on the Backend side
              </p>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-center mb-3">
          <div class="about-card card w-100 border-black">
            <div class="card-body text-center">
              <i class="fa fa-laptop-code fa-2x icon"></i>
              <h3 class="fw-bold about-subtitle">Specialized In</h3>
              <p class="card-text">
                Full stack Development<br>Microservices Architecture<br>Relational Databases<br>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="w-100 text-center mt-3">
        <p>
          I am Shalini Maknoor, a passionate Computer Science graduate currently pursuing my Master’s degree at George Mason University. 
          Previously, I worked as a Software Engineer at NatWest, specializing in building scalable web applications and risk analytics platforms.
          I have strong skills in Angular, Java, DevOps, and cloud technologies like AWS and GCP. 
          I love solving real-world problems through technology and continuous learning
        </p>
      </div>
    </div>
  </div>
</section>
